<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
    <title>{% block title %}Store{% endblock %}</title>
</head>
<body>
    <div class="main">
        <header>
            <h1><a href="{% url 'store:main' %}">Store</a></h1>
            <div>
                {% if user.is_authenticated %}
                    <a href="{% url 'store:update_profile' %}">Update profile</a>
                    <a href="{% url 'store:cart' %}">Shopping Cart</a>
                    <a href="{% url 'store:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'store:login' %}">Login</a>
                    <a href="{% url 'store:register' %}">Registration</a>
                {% endif %}
            </div>
        </header>
        {% if messages %}
            <div class="alert alert-success">
                {% for m in messages %}
                <div>{{ m }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>