{% extends "base.html" %}

{% block content %}
    <div class="product">
    <div class="product_header">
        <a href="{% url 'store:main' %}">All Books</a> > <a href="{% url 'store:book' pk=entry.id %}">{{ entry.title }}</a>
    </div>
    <div class="product_body">
        <div class="product_image">
            {% if entry.image %}
                <img src="{{entry.image.url}}" alt="My image">
            {% endif %}
            {% if not entry.image %}
                <div class="product_no_image">no image</div>
            {% endif %}
        </div>
        <div class="product_description">
            <div>{{ entry.description }}</div>
            <div class="product_price">{{ entry.price }} $</div>
            {% if entry.quantity %}
                <div class="product_buy">
                    <div>Only {{ entry.quantity }} left</div>
                    <a href="{% url 'store:add_to_cart' pk=entry.id %}">Add To Cart</a>
                </div>
            {% endif %}
            {% if not entry.quantity %}
                <div class="product_buy">
                    <div>Out of stock</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}